.hero.container {
    /* background-color:#2F303A; */
    // padding-top: 200px;
    // padding-bottom: 200px;
    text-align: center;
    margin-top: auto;
    // padding:0px;
    padding: 80px 30px;
    
   @include mobile {
    padding: 118px 60px;
        }
    @include tablet {
    padding: 118px 204px;
        }
   @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
 }
    
}

.hero-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(/images/hero-bg-tel.jpg);
    @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(/images/hero-bg-tel-2x.jpg);
        }
    @include tablet{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(/images/hero-bg-tablet.jpg);
@include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58, 0.4)), url(/images/hero-bg-tablet-2x.jpg);
        }
}
 @include desktop {
background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(/images/hero-bg.jpg);
    @include retina {
     background-image: linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(/images/hero-bg-2x.jpg);
                }

        }
}

.hero__title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto;
    margin-right: auto;
    margin-bottom: 30px;
    // max-width: 696px;
     @include desktop{
        font-size: 44px;
        line-height: 1.36;
    }

}

.hero__btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #2196F3;
    display: block;
    margin: auto;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: #188CE8;
    }
        
    @include desktop{
        width: 216px;
    }
}

       