.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px;
    pointer-events: auto;
    transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 528px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    @include mobile {
        width: 450px;
        height: 609px;
    }

}

.modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
    fill: var(--hover-color);
    }
}

.modal-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    margin-bottom: 12px;

}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 42px;
    &:focus {
    border-color: var(--hover-color);
    }

}
.input-wrap {
    position: relative;

}
.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-input:focus+ & {
    fill: var(--hover-color)
    }

}
.modal-field {
    margin-bottom: 10px;
    &:nth-child(4n) {
    margin-bottom: 20px;
    }
}

.modal-label {
    width: 100%;
    display: block;
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.placeholder-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    display: block;
    padding: 12px 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
    border-color: var(--hover-color);
    }

}
.checkbox {
    margin-bottom: 30px;
}

.check-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 15px;
            border-radius: 2px;
            background-color: #FFFFFF;
            border: 0.2px solid #000000;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            margin-right: 7px;
        }
        @include mobile{
            font-size: 12px;
            line-height: 1.17;
        }
}      
.modal-link {
    color: rgba(33, 150, 243, 1);
}

.check-icon {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-check:checked+.check-text & {
    fill: #FFFFFF;
    }
}

.modal-check:checked+.check-text span {
    background-color: var(--hover-color);
    border: none;
}

.modal-btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    display: block;
    margin: auto;
    height: 50px;
    width: 200px;
    transition: background-color transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
    background-color: #188CE8;
    }

}

