body {
    font-family: 'Roboto', sans-serif;
}
.list {
    list-style: none;
}

.list {
    text-decoration: none;

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-second {
    padding-top: 0px;
    padding-bottom: 94px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}